.title_container{
    margin:30px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

h1{
    font-size: 5rem;
    color: #008859;
    text-align: center;
    position: absolute;
    top: 40%;
}