<div id="report_container">

    <div id="first_container">
        <h1>Bank Transaction Report</h1>
        <p>here you'll find a report with all our bank transactions, you can click on a transaction to open its detail.</p>

    </div>
    <div id="main_container">

        <div class="datetime_container">
            <label for="lb_date">Date and Time:</label>

            <p>{{datetime}}</p>

        </div>
        <div class="table-responsive" >
            <table class="table table-bordered"  >
                <thead>
                    <tr>
                        <th *ngFor="let column of tableColumns" (click) = "sortTable(column)">{{ column }}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let operation of transactionList" [routerLink]="['/transaction', operation.id]" routerLinkActive="active" >
                        
                        <td>{{operation.id}} </td>
                      <td>{{operation.amount}}</td>
                      <td>{{operation.balance}}</td>
                      <td>{{operation.label}}</td>
                      <td>{{operation.date}}</td>
                    </tr>
                   
                  </tbody>
            </table>

            
        </div>
       

    </div>
</div>
