<div id="menu">
    <nav class="navbar">
        <a href="/home"><img id="logo" src="../../../assets/ICONO-CRIS.ico" alt="Logo" width="90px" height="90px"></a>
    
        <ul class="tabs">
            
            <li class="exercise1">
                <a id="exercise_1" href="/exercise1" routerLink="/exercise1" routerLinkActive="active" class="menu-item" >Exercise 1</a>
                
            </li>
            <li class="exercise2">
                <a id="exercise_2" href="/exercise2" routerLink="/exercise2" routerLinkActive="active" class="menu-item" >Exercise 2</a>
            </li>
            <li class="exercise3">
                <a id="exercise_3" href="/exercise3" routerLink="/exercise3" routerLinkActive="active" class="menu-item" >Exercise 3</a>
                
            </li>
            
        </ul>
    </nav>
</div>

