<div id="report_container">

    <div id="first_container">
        <h1>Transaction Detail</h1>
        <p></p>

    </div>
    <div id="main_container">

        <div class="datetime_container">
            <label for="lb_date">Date and Time:</label>

            <p>{{datetime}}</p>

        </div>
        <div class="table-responsive"  >
          
              <table class="table table-bordered"  >
                <thead>
                    <tr>
                        <th *ngFor="let column of tableColumns" >{{ column }}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" >
                    <tr > 
                        <td>{{transactionDetail?.id}}</td>
                        <td>{{transactionDetail?.amount}}</td>
                        <td>{{transactionDetail?.balance}}</td>
                        <td>{{transactionDetail?.label}}</td>
                        <td>{{transactionDetail?.description}}</td>
                        <td>{{transactionDetail?.date}}</td> 
                      
                    </tr>
                   
                  </tbody>
            </table>
            
        </div>
            
        <div class="button_container">
            <button class="btn btn-secondary" [routerLink]="['/exercise3']" routerLinkActive="active">Back</button>
        </div>

    </div>
</div>